body{
    margin: 0;
    color: black;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    height: 70px;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.a1{
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.menu a{
    margin-left: 20px;
}
.a2{
    width: 900px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blockbtn{
    padding-top: 30px;
    display: flex;
}
.block2 img{
    width: 400px;
}
.block1{
    float: left;
}
.block1, .block2{
   width: 400px;
}
.textbox{
    display: flex;
}
.textbox div{
    margin-left: 20px;
}
.text1{
    font-style: normal;
    font-weight: bold;
    font-size: 48.83px;
    line-height: 58px;
}
.text2{
    padding-top: 30px;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}
.section1{
    padding-top: 70px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section2{
    padding-top: 70px;
    margin: 0 auto;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
}
.blocks{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.subimg img{
    width: 100%;
}
.btn{
   
    padding: 14px 10px;
    border-radius: 10%;
    background-color: #fab700;
}
.btn2{
    padding: 14px 10px;
    color: #fab700;
}
.sblock1{
    text-align: center;
    height: 200px;
    width: 300px;
}
.sblock1 div{
    padding-top: 20px;
}
.imgimg{
    margin: 0 auto;
}
.textsb{
    font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 24px;
}
.a3{
    text-align: center;
}
.a4{
    margin: 0 auto;
    max-width: 1400px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.section3{
    height: 400px;
}
.section4{
    height: 1000px;
    padding-top: 200px;
}
.texts1{
    font-style: normal;
font-weight: bold;
font-size: 31.25px;
line-height: 41px;
}
.texts2{
    font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.s3block{
    display: block;
    width: 600px;
}
.s3block img{
  max-width: 600px;  
}
.a5{
    text-align: center;
    display: block;
}
.f{
   padding-top: 30px; 
}
.btns{
    display: flex;
}
.texts5{
    font-style: normal;
font-weight: bold;
font-size: 31.25px;
line-height: 24px;
}
.texts5_2{
  
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.contentbox{
    margin-top: 70px;
    width: 300px;
    height: 350px;
    background-color: rgb(236, 236, 236);
}
.contentbox img{
width: 300px;
border-radius: 30%;
}
.btnss4{
    margin: 0 auto;
    max-width: 270px; 
}
.icons{
    float: right;
    padding: 14px 10px;
}
.icons i{
    color: #DC780B;
}
.contentbox a{
    float: left;
    
    height: 20px;
    width: 20px;
}
.contenttext{
    margin: 0 auto;
    display: flex;
    width: 300px; 
}
.context1{
    font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 24px;
}
.context2{
    font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 24px;
}
.context3{
    font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */

display: flex;
align-items: center;

color: #150C01;
}
.conbtns{
    display: flex;
}
.contentblock{
    height: 700px;
    max-width: 1100px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    justify-content: space-between;
}
.section5{
    height: 900px;
    margin-top: 100px;
}
.textn5{
    font-style: normal;
font-weight: bold;
font-size: 31.25px;
line-height: 41px;
}
.textn5_2{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.blocks5_1{
    width: 600px;
}
.s3block{
        
    margin: 0 auto;
}
.a6{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.blocks5_2 img{
    border-radius: 20%;
}
.section6{
    height: 500px;
}
.text1a7{
    letter-spacing: 0.2em;
text-transform: uppercase;

color: #DC780B;
}
.text2a7{
    font-weight: bold;
font-size: 31.25px;
line-height: 24px;
}
.text3a7{
    font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.text4a7{
    font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.a7{
    text-align: center;
    max-width: 900px;
}
.a7 div{
    padding-top: 40px;
}
.btn_menu{
    display: none;
    padding-right: 84px;
}
.center {
    position: fixed;
   
    width: 50px;
  }
  
  .center:before,
  .center:after,
  .center div {
    background: rgb(0, 0, 0);
    border: 1px white solid;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  .center:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  .center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  .center:hover div {
    transform: scale(0);
  }
  .menubar{
      color: white;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.815);
   }
   .dis{
    display: none;
   }
   .col{
    background: rgb(255, 255, 255);
   }
   .a10{
       
       height: 100%;
       text-align: center;
       margin: 0 auto;
       max-width: 500px;
       
   }
   .a11{
    margin-top: 200px;
    
   }
   .a11 a{
    color: white;
    font-size: 33px;
    font-weight: bold;
   }
@media (max-width: 1250px){
    .block1, .block2{
        margin: 0 auto;
    }
    .section2{
        height: 600px;
    }
    .section3{
        height: 800px;
    }
    .s3block{
        
        margin: 0 auto;
    }
}
@media (max-width: 1060px){
    .section4{
        height: 1500px;
    }
    .contentblock{
        justify-content: space-around;
    }
}
@media (max-width: 900px){
    *{
        font-size: 20px;
    }
    .s3block img{
        max-width: 400px;  
      }
    .block1, .block2{
        margin: 0 auto;
    }
    .block1{
        max-width: 500px;
    }
    .section1{
        height: 900px;
    }
    .section2{
        height: 700px;
    }
    .section3{
        height: 800px;
    }
    .btn_menu{
        display: block;
    }
    .a1 .btn{
        display: none;
    }
    .menu a{
        display: none;
    }
}
@media (max-width: 740px){
    .section4{
        height: 1600px;
    }
    .contentbox{
        margin-top: 30px;
        margin-right: 0 auto;
        margin-left: 0 auto;
    }
}
@media (max-width: 740px){
    .section4{
        height: 2300px;
    }
}
@media (max-width: 720px){
    .section2{
        height: 900px;
    }
    .section5{
        margin-top: 200px;
    }
    .sblock1{
        margin-top: 40px;
    }
}